<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--基于注解的bean管理-->
    <!--只需告诉spring你的bean从那些包中导入要管理的类可以
        然后在需要的类头上添加注解
    -->
    <context:component-scan base-package="com.mxiaixy"/>


    <!--如何实现注入-->
    <!--基于注解的IOC-->
    <!--只需在所需注入的类的头上添加@AutowiseJ即可-->


    <!--基于注解的AOP-->
    <!--
        在通知类中加入所需要的注解
        @Aspect:声明类是通知类
    -->
    <aop:aspectj-autoproxy/>


    <!--基于DI的单元测试-->
    <!--每调用一次bean类中的方法 都会加上通知  ！！！！！！！！！！！-->



</beans>